In [3]:
import numpy as np
import pandas as pd

In [4]:
labels =['w','x','y','z']

In [5]:
list =[10,20,30,40]

In [6]:
array =np.array ([10,20,30,40])

In [7]:
dict={'w':10,'x':20,'y':30,'z':40}

In [8]:
pd.Series(list,labels)

w    10
x    20
y    30
z    40
dtype: int64

In [9]:
pd.Series(data=dict)

w    10
x    20
y    30
z    40
dtype: int64

In [11]:
pd.Series(array)

0    10
1    20
2    30
3    40
dtype: int32

In [12]:
pd.Series(array,labels)

w    10
x    20
y    30
z    40
dtype: int32

In [13]:
pd.Series(dict)

w    10
x    20
y    30
z    40
dtype: int64

In [14]:
sports1=pd.Series([1,2,3,4],index=['Cricket','Football','Basketball','Golf'])

In [23]:
sports1

Cricket       1
Football      2
Basketball    3
Golf          4
dtype: int64

In [15]:
sports1[1]

2

In [18]:
sports2=pd.Series([2,5,7,1],index=['Cricket','Football','BaseBall','Badminton'])

In [19]:
sports2

Cricket      2
Football     5
BaseBall     7
Badminton    1
dtype: int64

In [21]:
sports1+sports2

Badminton     NaN
BaseBall      NaN
Basketball    NaN
Cricket       3.0
Football      7.0
Golf          NaN
dtype: float64

In [33]:
from numpy .random import randn

In [22]:
np.random.seed(1200)

In [23]:
dataframe=pd.DataFrame

In [24]:
dataframe

pandas.core.frame.DataFrame